{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos-Cursos</title>
    {% tailwind_css %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{%url 'home'%}">Home</a></li>
                <li><a href="{%url 'ingreso'%}">Ingreso</a></li>
                <li><a href="{%url 'listado'%}">Listado</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>Examen de tópicos de base de datos 2024</footer>
</body>
</html>