{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos-Cursos</title>
    {% tailwind_css %}
</head>
<body>
    <header>
        <nav>
            <ul
                class="flex justify-center gap-20 bg-blue-200"
            >
                <li>
                    <a
                        href="{%url 'home'%}"
                        class="inline-block py-2 px-8 font-bold hover:bg-blue-300"   
                    >Home
                    </a>
                </li>
                <li>
                    <a
                        href="{%url 'ingreso'%}"
                        class="inline-block p-2 px-8 font-bold hover:bg-blue-300"   
                    >Ingreso
                    </a>
                </li>
                <li>
                    <a
                        href="{%url 'listado'%}"
                        class="inline-block p-2 px-8 font-bold hover:bg-blue-300"   
                    >Listado
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main
        class="max-w-screen-lg mx-auto"
    >
        {% block content %}{% endblock %}
    </main>
    <footer>Examen de tópicos de base de datos 2024</footer>
</body>
</html>