{% extends "base.html" %}
{% block content %}
<h1 class="text-3xl my-2">Ingreso</h1>
<form method="post" class="flex flex-col gap-1 items-center">
    {% csrf_token %}
    <div>
        <label
            class="inline-block w-20" 
            for="{{ form.nombre.id_for_label }}">Nombre:</label>
        {{ form.nombre }}
    </div>
    <div>
        <label
            class="inline-block w-20"
            for="{{ form.curso.id_for_label }}">Curso:</label>
        {{ form.curso }}
    </div>
    <div>
        <label
            class="inline-block w-20" 
            for="{{ form.nota1.id_for_label }}">Nota 1:</label>
        {{ form.nota1 }}
    </div>
    <div>
        <label
            class="inline-block w-20" 
            for="{{ form.nota2.id_for_label }}">Nota 2:</label>
        {{ form.nota2 }}
    </div>
    <button
        class="bg-green-200 py-2 px-4 rounded border border-green-600 hover:bg-green-400" 
        type="submit">Guardar</button>
</form>
{% endblock %}